<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>category_names</key>
        <array>
            <string>ground</string>
            <string>fruits</string>
            <string>others</string>
            <string>bit_3</string>
            <string>bit_4</string>
            <string>bit_5</string>
            <string>bit_6</string>
            <string>bit_7</string>
            <string>bit_8</string>
            <string>bit_9</string>
            <string>bit_10</string>
            <string>bit_11</string>
            <string>bit_12</string>
            <string>bit_13</string>
            <string>bit_14</string>
            <string>bit_15</string>
            <string>bit_16</string>
            <string>bit_17</string>
            <string>bit_18</string>
            <string>bit_19</string>
            <string>bit_20</string>
            <string>bit_21</string>
            <string>bit_22</string>
            <string>bit_23</string>
            <string>bit_24</string>
            <string>bit_25</string>
            <string>bit_26</string>
            <string>bit_27</string>
            <string>bit_28</string>
            <string>bit_29</string>
            <string>bit_30</string>
            <string>bit_31</string>
        </array>
        <key>bodies</key>
        <dict>

            <key>banana</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <true/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>2</integer>
                        <key>collision_mask</key>
                        <integer>7</integer>
                        <key>contact_test_mask</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 41.00000,42.00000 }</string>
                                <string>{ 29.00000,36.00000 }</string>
                                <string>{ 25.00000,58.00000 }</string>
                                <string>{ 42.00000,64.00000 }</string>
                            </array>
                            <array>
                                <string>{ -37.00000,-29.00000 }</string>
                                <string>{ -19.00000,-64.00000 }</string>
                                <string>{ -64.00000,-42.00000 }</string>
                                <string>{ -61.00000,-29.00000 }</string>
                            </array>
                            <array>
                                <string>{ -8.00000,-22.00000 }</string>
                                <string>{ 40.00000,-45.00000 }</string>
                                <string>{ 15.00000,-59.00000 }</string>
                                <string>{ -19.00000,-64.00000 }</string>
                                <string>{ -37.00000,-29.00000 }</string>
                            </array>
                            <array>
                                <string>{ 15.00000,-3.00000 }</string>
                                <string>{ 54.00000,-27.00000 }</string>
                                <string>{ 40.00000,-45.00000 }</string>
                                <string>{ -8.00000,-22.00000 }</string>
                            </array>
                            <array>
                                <string>{ 29.00000,36.00000 }</string>
                                <string>{ 41.00000,42.00000 }</string>
                                <string>{ 59.00000,24.00000 }</string>
                                <string>{ 62.00000,-2.00000 }</string>
                                <string>{ 54.00000,-27.00000 }</string>
                                <string>{ 15.00000,-3.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>cherries</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <true/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1e+06</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1e+06</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>2</integer>
                        <key>collision_mask</key>
                        <integer>7</integer>
                        <key>contact_test_mask</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <string>CIRCLE</string>
                        
                        <key>circle</key>
                        <dict>
                            <key>radius</key>
                            <real>24.413</real>
                            <key>position</key>
                            <string>{ -26.000,-38.000 }</string>
                        </dict>
                        
                    </dict>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>2</integer>
                        <key>collision_mask</key>
                        <integer>7</integer>
                        <key>contact_test_mask</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <string>CIRCLE</string>
                        
                        <key>circle</key>
                        <dict>
                            <key>radius</key>
                            <real>24.000</real>
                            <key>position</key>
                            <string>{ 35.500,-38.500 }</string>
                        </dict>
                        
                    </dict>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>2</integer>
                        <key>collision_mask</key>
                        <integer>7</integer>
                        <key>contact_test_mask</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -25.00000,-22.00000 }</string>
                                <string>{ -16.00000,12.00000 }</string>
                                <string>{ -4.00000,28.00000 }</string>
                                <string>{ 18.00000,16.00000 }</string>
                                <string>{ 29.00000,-20.00000 }</string>
                            </array>
                            <array>
                                <string>{ 21.00000,33.00000 }</string>
                                <string>{ -4.00000,28.00000 }</string>
                                <string>{ 12.50000,45.00000 }</string>
                                <string>{ 21.50000,49.00000 }</string>
                                <string>{ 28.50000,42.50000 }</string>
                            </array>
                            <array>
                                <string>{ -4.00000,28.00000 }</string>
                                <string>{ 21.00000,33.00000 }</string>
                                <string>{ 18.00000,16.00000 }</string>
                            </array>
                            <array>
                                <string>{ -4.00000,28.00000 }</string>
                                <string>{ -19.00000,26.00000 }</string>
                                <string>{ -34.00000,32.00000 }</string>
                                <string>{ -38.50000,51.50000 }</string>
                                <string>{ -11.00000,60.00000 }</string>
                                <string>{ 12.50000,45.00000 }</string>
                            </array>
                            <array>
                                <string>{ -38.50000,51.50000 }</string>
                                <string>{ -34.00000,32.00000 }</string>
                                <string>{ -56.50000,56.50000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>crate</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <true/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1e+06</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1e+06</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>5</real>
                        <key>restitution</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.2</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>4</integer>
                        <key>collision_mask</key>
                        <integer>7</integer>
                        <key>contact_test_mask</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 61.00000,56.00000 }</string>
                                <string>{ 59.00000,-64.00000 }</string>
                                <string>{ -57.00000,-64.00000 }</string>
                                <string>{ -60.00000,56.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>ground</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <false/>
                <key>affected_by_gravity</key>
                <false/>
                <key>allows_rotation</key>
                <false/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1e+06</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1e+06</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>7</integer>
                        <key>contact_test_mask</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -293.00000,-328.00000 }</string>
                                <string>{ -320.00000,-281.00000 }</string>
                                <string>{ -287.00000,-283.00000 }</string>
                                <string>{ -273.00000,-306.00000 }</string>
                                <string>{ -275.00000,-336.00000 }</string>
                            </array>
                            <array>
                                <string>{ 267.00000,-483.00000 }</string>
                                <string>{ 320.00000,-568.00000 }</string>
                                <string>{ 239.00000,-500.00000 }</string>
                                <string>{ 246.00000,-482.00000 }</string>
                            </array>
                            <array>
                                <string>{ 282.00000,-478.00000 }</string>
                                <string>{ 320.00000,-568.00000 }</string>
                                <string>{ 267.00000,-483.00000 }</string>
                                <string>{ 271.00000,-475.00000 }</string>
                            </array>
                            <array>
                                <string>{ -299.00000,-350.00000 }</string>
                                <string>{ -297.00000,-336.00000 }</string>
                                <string>{ -293.00000,-343.00000 }</string>
                            </array>
                            <array>
                                <string>{ -303.00000,-398.00000 }</string>
                                <string>{ -299.00000,-350.00000 }</string>
                                <string>{ -286.00000,-379.00000 }</string>
                            </array>
                            <array>
                                <string>{ 176.00000,-518.00000 }</string>
                                <string>{ 126.00000,-522.00000 }</string>
                                <string>{ 141.00000,-504.00000 }</string>
                            </array>
                            <array>
                                <string>{ 191.00000,-511.00000 }</string>
                                <string>{ 320.00000,-568.00000 }</string>
                                <string>{ 176.00000,-518.00000 }</string>
                                <string>{ 180.00000,-511.00000 }</string>
                            </array>
                            <array>
                                <string>{ -242.00000,-507.00000 }</string>
                                <string>{ -273.00000,-500.00000 }</string>
                                <string>{ -264.00000,-493.00000 }</string>
                                <string>{ -249.00000,-495.00000 }</string>
                            </array>
                            <array>
                                <string>{ 288.00000,-282.00000 }</string>
                                <string>{ 320.00000,-281.00000 }</string>
                                <string>{ 299.00000,-355.00000 }</string>
                                <string>{ 278.00000,-334.00000 }</string>
                                <string>{ 271.00000,-303.00000 }</string>
                            </array>
                            <array>
                                <string>{ 299.00000,-355.00000 }</string>
                                <string>{ 298.00000,-423.00000 }</string>
                                <string>{ 284.00000,-390.00000 }</string>
                            </array>
                            <array>
                                <string>{ -155.00000,-513.00000 }</string>
                                <string>{ -130.00000,-522.00000 }</string>
                                <string>{ -186.00000,-525.00000 }</string>
                                <string>{ -179.00000,-514.00000 }</string>
                            </array>
                            <array>
                                <string>{ -27.00000,-513.00000 }</string>
                                <string>{ -2.00000,-522.00000 }</string>
                                <string>{ -58.00000,-525.00000 }</string>
                                <string>{ -51.00000,-514.00000 }</string>
                            </array>
                            <array>
                                <string>{ 101.00000,-513.00000 }</string>
                                <string>{ 126.00000,-522.00000 }</string>
                                <string>{ 70.00000,-525.00000 }</string>
                                <string>{ 77.00000,-514.00000 }</string>
                            </array>
                            <array>
                                <string>{ -186.00000,-525.00000 }</string>
                                <string>{ -320.00000,-568.00000 }</string>
                                <string>{ -217.00000,-522.00000 }</string>
                                <string>{ -202.00000,-518.00000 }</string>
                            </array>
                            <array>
                                <string>{ -58.00000,-525.00000 }</string>
                                <string>{ -130.00000,-522.00000 }</string>
                                <string>{ -115.00000,-504.00000 }</string>
                            </array>
                            <array>
                                <string>{ 70.00000,-525.00000 }</string>
                                <string>{ -2.00000,-522.00000 }</string>
                                <string>{ 13.00000,-504.00000 }</string>
                            </array>
                            <array>
                                <string>{ 222.00000,-487.00000 }</string>
                                <string>{ 239.00000,-500.00000 }</string>
                                <string>{ 320.00000,-568.00000 }</string>
                                <string>{ 191.00000,-511.00000 }</string>
                                <string>{ 207.00000,-488.00000 }</string>
                            </array>
                            <array>
                                <string>{ 298.00000,-423.00000 }</string>
                                <string>{ 295.00000,-466.00000 }</string>
                                <string>{ 287.00000,-454.00000 }</string>
                            </array>
                            <array>
                                <string>{ -294.00000,-487.00000 }</string>
                                <string>{ -311.00000,-430.00000 }</string>
                                <string>{ -287.00000,-475.00000 }</string>
                            </array>
                            <array>
                                <string>{ -217.00000,-522.00000 }</string>
                                <string>{ -320.00000,-568.00000 }</string>
                                <string>{ -273.00000,-500.00000 }</string>
                                <string>{ -242.00000,-507.00000 }</string>
                            </array>
                            <array>
                                <string>{ -297.00000,-336.00000 }</string>
                                <string>{ -320.00000,-281.00000 }</string>
                                <string>{ -293.00000,-328.00000 }</string>
                            </array>
                            <array>
                                <string>{ 320.00000,-281.00000 }</string>
                                <string>{ 320.00000,-568.00000 }</string>
                                <string>{ 298.00000,-423.00000 }</string>
                                <string>{ 299.00000,-355.00000 }</string>
                            </array>
                            <array>
                                <string>{ -299.00000,-350.00000 }</string>
                                <string>{ -320.00000,-281.00000 }</string>
                                <string>{ -297.00000,-336.00000 }</string>
                            </array>
                            <array>
                                <string>{ -303.00000,-398.00000 }</string>
                                <string>{ -311.00000,-430.00000 }</string>
                                <string>{ -320.00000,-281.00000 }</string>
                                <string>{ -299.00000,-350.00000 }</string>
                            </array>
                            <array>
                                <string>{ 320.00000,-568.00000 }</string>
                                <string>{ 295.00000,-466.00000 }</string>
                                <string>{ 298.00000,-423.00000 }</string>
                            </array>
                            <array>
                                <string>{ 320.00000,-568.00000 }</string>
                                <string>{ 282.00000,-478.00000 }</string>
                                <string>{ 295.00000,-466.00000 }</string>
                            </array>
                            <array>
                                <string>{ 320.00000,-568.00000 }</string>
                                <string>{ -320.00000,-568.00000 }</string>
                                <string>{ 176.00000,-518.00000 }</string>
                            </array>
                            <array>
                                <string>{ -311.00000,-430.00000 }</string>
                                <string>{ -320.00000,-568.00000 }</string>
                                <string>{ -320.00000,-281.00000 }</string>
                            </array>
                            <array>
                                <string>{ -294.00000,-487.00000 }</string>
                                <string>{ -320.00000,-568.00000 }</string>
                                <string>{ -311.00000,-430.00000 }</string>
                            </array>
                            <array>
                                <string>{ -273.00000,-500.00000 }</string>
                                <string>{ -320.00000,-568.00000 }</string>
                                <string>{ -294.00000,-487.00000 }</string>
                            </array>
                            <array>
                                <string>{ -130.00000,-522.00000 }</string>
                                <string>{ -58.00000,-525.00000 }</string>
                                <string>{ -320.00000,-568.00000 }</string>
                                <string>{ -186.00000,-525.00000 }</string>
                            </array>
                            <array>
                                <string>{ 70.00000,-525.00000 }</string>
                                <string>{ -320.00000,-568.00000 }</string>
                                <string>{ -58.00000,-525.00000 }</string>
                                <string>{ -2.00000,-522.00000 }</string>
                            </array>
                            <array>
                                <string>{ 126.00000,-522.00000 }</string>
                                <string>{ -320.00000,-568.00000 }</string>
                                <string>{ 70.00000,-525.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>orange</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <true/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1e+06</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1e+06</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>2</integer>
                        <key>collision_mask</key>
                        <integer>7</integer>
                        <key>contact_test_mask</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <string>CIRCLE</string>
                        
                        <key>circle</key>
                        <dict>
                            <key>radius</key>
                            <real>61.074</real>
                            <key>position</key>
                            <string>{ 2.000,-3.333 }</string>
                        </dict>
                        
                    </dict>

                </array>
            </dict>

        </dict>
    </dict>
</plist>




